<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head(title='Register')">
    <meta charset="UTF-8" />
    <title>User Creation Form</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1>User Creation Form</h1>
<form th:action="@{/users/create}" method="post" th:object="${user}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" th:field="*{username}">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" th:field="*{password}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div th:include="partials :: scripts"></div>
</body>
</html>